body {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 1020px;
    margin: 0 auto;
}
/*Header*/
header {
    height: 90px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.header__layout {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}
.logo {
    display: flex;
    justify-content: start;
    width: 50%;
    height: 96px;
}
.logo__title {
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: auto 0;
}
.logo__star {
    color: #f06c64;
    font-size: 25px;
    padding-top: 35px;
}
.navigation {
    width: 50%;
}
.navigation__list {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-top: 35px;
}
.navigation__list-item {
    list-style-type: none;
    padding: 0 15px;
}
.navigation__list-item:nth-child(5) {
    padding-right: 0;
}
.navigation__list-item:nth-child(1) {
    padding-left: 0;
}
.navigation__list-item-link {
    text-decoration: none;
    font-size: 12px;
    line-height: 6px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}
.navigation__list-item-link:hover {
    cursor: pointer;
    color: #f06c64;
}
/*Our Services Block*/
.services-block__layout {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}
.services-block__description {
    text-align: left;
    padding: 65px 10px 55px;
}
.services-block__description-title {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin: 0;
    padding-bottom: 30px;
}
.services-block__description-text {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: justify;
}
.services-block__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services-block__container-item {
    width: 300px;
    height: 86px;
    display: flex;
    flex-direction: row;
    padding: 0 10px 40px 10px;
}
.services-block__container-item:nth-child(n+4) {
    padding-bottom: 0;
}
.services-block__container-item-description {
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 0 0 0 20px;
}
.services-block__container-item-description--third {
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 0 0 0 20px;
}
.services-block__container-item-description-title {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: left;
    margin: 0;
    padding: 0 0 16px 0;
}
.services-block__container-item-description-text {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: justify;
    margin: 0;
    padding: 0;
}
.services-block__container-item-icon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid #666d89;
    display: flex;
    justify-content: center;
}
.services-block__container-item-icon-image {
    align-self:center;
}
